# Ignore virtual environment
damakye_env/

# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore IDE and editor files
.vscode/
.idea/

# Ignore Python egg and package distribution files
*.egg-info/
